<section class="filter pdg mrgb++">
  <form action="/aquaboat/results.html">
    <div class="grid">
      <div id="boat-engine" class="grid__item w-1/1 sm-w-1/2 mrgb">
        <label>{{ t.boat.engine }}</label>
        <!-- Create `span` tag with data attr to be filterd in JS -->
        {% for boat in site.data.boat %}
          <span class="boat-engine__data" data-contains="{{ boat.engine }}"></span>
        {% endfor %}
        <select name="engine" required>
          <option selected></option>
        </select>
      </div>

      <div id="boat-boat" class="grid__item w-1/1 sm-w-1/2 mrgb">
        <label>{{ t.boat.boat }}</label>
        <!-- Create `span` tag with data attr to be filterd in JS -->
        {% for boat in site.data.boat %}
          <span class="boat-boat__data" data-contains="{{ boat.boat }}"></span>
        {% endfor %}
        <select name="boat" required>
          <option selected></option>
        </select>
      </div>

      <div id="boat-width" class="range-slider grid__item w-1/1 sm-w-1/2 md-w-1/3 mrgb">
        <label>{{ t.boat.width }} - {{ t.boat.meter }}</label>
        <input required id="widthInput" class="range-slider__range mrgt-" value="3" type="range" name="width" min="0" max="6" step="1" oninput="widthOutput.value = widthInput.value">
        <output class="range-slider__value" name="width-output" id="widthOutput">3</output>
      </div>

      <div id="boat-height" class="range-slider grid__item w-1/1 sm-w-1/2 md-w-1/3 mrgb">
        <label>{{ t.boat.heigth }} - {{ t.boat.meter }}</label>
        <input required id="heightInput" class="range-slider__range mrgt-" value="10" type="range" name="height" min="0" max="20" step="1" oninput="heightOutput.value = heightInput.value">
        <output class="range-slider__value" name="height-output" id="heightOutput">10</output>
      </div>

      <div id="boat-people" class="range-slider grid__item w-1/1 sm-w-1/2 md-w-1/3 mrgb">
        <label>{{ t.boat.people }}</label>
        <input required id="peopleInput" class="range-slider__range mrgt-" value="6" type="range" name="people" min="0" max="12" step="1" oninput="peopleOutput.value = peopleInput.value">
        <output class="range-slider__value" name="people-output" id="peopleOutput">6</output>
      </div>

      <div id="boat-power" class="range-slider grid__item w-1/1 sm-w-1/2 md-w-1/3 mrgb">
        <label>{{ t.boat.power }} - {{ t.boat.power-mesure }}</label>
        <input required id="powerInput" class="range-slider__range mrgt-" value="200" type="range" name="power" min="0" max="400" step="25" oninput="powerOutput.value = powerInput.value">
        <output class="range-slider__value" name="power-output" id="powerOutput">200</output>
      </div>

      <div id="boat-money" class="range-slider grid__item w-1/1 sm-w-1/2 md-w-1/3 mrgb">
        <label>{{ t.boat.money }} - {{ t.boat.devise }}</label>
        <input required id="moneyInput" class="range-slider__range mrgt-" value="150000" type="range" name="money" min="0" max="300000" step="1000" oninput="moneyOutput.value = moneyInput.value">
        <output class="range-slider__value" name="money-output" id="moneyOutput">150000</output>
      </div>

      <div class="grid__item w-1/1 sm-w-1/2 md-w-1/3 mrgb">
        <input required type="submit" value="{{ t.boat.filter }}" class="btn btn--primary-inversed mrgt+">
      </div>
    </div>
  </form>
</section>