{% assign t = site.data.translations[page.lang] %}

<section class="grid mrgt+">
  {% include boat-sidebar.html %}

  <section id="boats" class="grid__item w-1/1 md-w-5/6">
    {% include boat-filter.html %}

    <section class="listed">
      {% for brand in site.data.brand %}
        {% include boat-brand.html %}

        <h3>{{ t.boat.boats }}</h3>
        <article class="grid pdgb+ mrgb++">
          {% for boat in site.data.boat %}
            {% if brand.id == boat.id %}
              {% include boat-item.html %}
            {% endif %}
          {% endfor %}
        </article>
      {% endfor %}
    </section>
  </section>
</section>