<section class="grid">

  <div class="grid__item w-1/1 md-w-3/4">
    <article class="news">
      <h2 class="text-uppercase">{{ t.home.last_news }}</h2>
      {% for news in site.data.news %}
        <h3>{{ news.title }}</h3>
        <p>{{ news.content }}</p>
      {% endfor %}
    </article>

    <h2 class="text-uppercase">{{ t.home.services }}</h2>
    <article class="services grid">
      {% for service in site.data.services %}
        <div class="grid__item w-1/1 sm-w-1/2 md-w-1/3">
            <div class="tile box box--default mrgt pdg0">
            <div class="tile__image-container">
                <img src="{{ service.image }}" class="tile__image">
              </div>
              <div class="pdg">
                <h3 class="text-uppercase mrgt0">{{ service.title }}</h3>
                <p>{{ service.content }}</p>
              </div>
            </div>
        </div>
      {% endfor %}
    </article>
  </div>

  <div class="grid__item w-1/1 md-w-1/4">
    <article class="social">
    </article>
  </div>

</section>