{% if site.data.news %}
  <article class="news">
    <h2 class="main-title">{{ t.home.last_news }}</h2>
    {% for news in site.data.news %}
    <div class="media media--news media--responsive pdg mrgb">
        <h3 class=" mrgt0">{{ news.title }}</h3>
        <div class="media__left">
          <img src="{{ news.image | prepend:site.baseurl }}" class="media__image media--news__image">
        </div>
        <div class="media__body">
          <p>{{ news.content }}</p>
        </div>
      </div>
    {% endfor %}
  </article>
{% endif %}