{% if site.data.news %}
  <article class="news">
    <h2 class="text-uppercase">{{ t.home.last_news }}</h2>
    {% for news in site.data.news %}
    <div class="media media--responsive mrgb">
        <h3 class="text-uppercase mrgb">{{ news.title }}</h3>
        <div class="media__left">
          <img src="{{ news.image | prepend:site.baseurl }}" class="media__image image-radius">
        </div>
        <div class="media__body">
          <p>{{ news.content }}</p>
        </div>
      </div>
    {% endfor %}
  </article>
{% endif %}