<h2 class="text-uppercase">{{ t.home.services }}</h2>
<article class="services grid">
  {% for service in site.data.services %}
    <div class="grid__item w-1/1 sm-w-1/2">
        <div class="tile box box--default mrgt pdg0">
        <div class="tile__image-container">
            <img src="{{ service.image }}" class="tile__image">
          </div>
          <div class="pdg">
            <h3 class="text-uppercase mrgt0">{{ service.title }}</h3>
            <p>{{ service.content }}</p>
          </div>
        </div>
    </div>
  {% endfor %}
</article>