{% assign t = site.data.translations[page.lang] %}

<article class="mrgt+">
  <section class="grid mrgv">
    {% for service in site.data.shipyard-services %}
      <div class="grid__item w-1/1 sm-w-1/2 md-w-1/3">
          <div class="tile box box--default mrgb pdg0">
            <div class="tile__image-container">
              <img src="{{ service.image | prepend:site.baseurl }}" class="tile__image">
            </div>
            <div class="pdg">
              <h3 class="tile__title mrgt0">{{ service.title }}</h3>
              <p>{{ service.content }}</p>
            </div>
          </div>
      </div>
    {% endfor %}
  </section>
</article>