/*----------------------------------------*\
  ANIMATION
\*----------------------------------------*/

.blur {
  -webkit-animation: blur 3s infinite;
}

@-webkit-keyframes blur {
  0%, 100%  { -webkit-filter: blur(0px); }
  50% { -webkit-filter: blur(10px); }
}

.bounce {
  -webkit-animation: hue 3s infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}