/*----------------------------------------*\
  FLEX
\*----------------------------------------*/

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-h {
  display: flex;
  justify-content: center;
}
