/*----------------------------------------*\
  ICONS
\*----------------------------------------*/

.form-icon-send {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 8px;
  fill: #fff;
}