/*----------------------------------------*\
  IMAGES
\*----------------------------------------*/

.image-radius {
  width: 150px;
  height: 150px;
  border-radius: 75px 75px;
}

.image-logo {
  width: 250px;
  height: 60px;
}