---
# Only the main Sass file needs front matter (the dashes are enough)
---

$baseUrl: "{{ site.baseurl }}";

@charset "utf-8";

// Kanbasu
@import "settings/kanbasu";
@import "kanbasu";


// Hamburger & settings
$hamburger-layer-color: $white;
$hamburger-padding-y: 32px;
$hamburger-hover-opacity: 1;
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";


// Range slider & settings
// Base Colors
$shade-10: #2c3e50;
$shade-1: #d7dcdf;
$shade-0: #fff;
// Range Slider
$range-width: 100%;
$range-handle-color: $shade-10;
$range-track-color: $shade-1;
$range-track-height: 10px;
$range-label-color: $shade-10;
$range-label-width: 85px;
@import "components/slider";


// Fonts
@import 'https://fonts.googleapis.com/css?family=Lato|Montserrat|Ubuntu';


// Default 
@import "default/default";


// Helpers
@import "helpers/flex";
@import "helpers/images";
@import "helpers/icons";
@import "helpers/animation";
@import "helpers/text";
@import "helpers/position";

// Components
@import "components/nav";
@import "components/tile";
@import "components/herobanner";
@import "components/notifications";
@import "components/button";
@import "components/filter";
@import "components/media";