/*----------------------------------------*\
  DEFAULT
\*----------------------------------------*/

.master {
   width: auto;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 $spacing-unit-default;
}

.master-footer {
  background-color: lighten($alt-color-lighter, 4%);
}

h3 {
  font-family: 'Ubuntu';
}

p,
li {
  font-family: 'Lato';
}