/*----------------------------------------*\
  DEFAULT
\*----------------------------------------*/

html {
  overflow-x: hidden; // hotfix to prevent the x scroll bar sur IE
}

.master {
   width: auto;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 $spacing-unit-default;
}

.master-footer {
  color: #fff;
  background-color: $brand-color;
}

h3 {
  font-family: 'Ubuntu';
}

p,
li {
  font-family: 'Lato';
}