/*----------------------------------------*\
  HEROBANNER
\*----------------------------------------*/

// herobanner--home modifier need to be set before
// herobanner otherwise background proriety get override
.herobanner--home {
  background:
  linear-gradient(to top, rgba(197, 223, 210, 0.3), $brand-color 400%),
  url('images/herobanner-home-1.jpg');
}

.herobanner--buy {
  height: 360px !important;
  background:
  linear-gradient(to top, rgba(197, 223, 210, 0.4), $brand-color 400%),
  url('images/herobanner-buy.jpg');
}

.herobanner--shipyard {
  height: 360px !important;
  background:
  linear-gradient(to top, rgba(197, 223, 210, 0.4), $brand-color 400%),
  url('images/herobanner-shipyard.jpg');
}

.herobanner {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}


  .herobanner__content {
    h1, h3 {
      width: 100%;
      font-weight: 600;
      text-align: center;
      color: $white;
    }
  }

    .herobanner__title {
      font-size: 4em;
      line-height: 1.1em;

      @media(max-width: $screen-sm-min) {
        font-size: 2.8em;
      }
    } 

    .herobanner__subtitle {
      font-size: 2em;
      line-height: 1.3em;

      @media(max-width: $screen-sm-min) {
        font-size: 1.2em;
      }
    }

    .herobanner--color {
      color: darken($brand-color, 10%);
    }

    .herobanner__wave {
      width: 150px;
      height: 49px;
      position: absolute;
      left: 50%;
      margin-left: -75px;

      fill: $white;
    }

    .herobanner__arrow-down {
      width: 30px;
      bottom: 0px;

      position: absolute;
      left: 50%;
      margin-left: -15px;

      fill: $white;
    }