/*----------------------------------------*\
  MEDIA
\*----------------------------------------*/

.media--news {
  background-color: lighten($alt-color-lighter, 4%);
  border-radius: 10px;
}

  .media--news__image {
    width: 250px;
  }