/*----------------------------------------*\
  NAV
\*----------------------------------------*/

// When mobile nav is open toggle body overflow hidden
.overflow-hidden {
  overflow: hidden;
}

.header-master {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

  .nav {
    display: none;
    @extend .master;

    a {
      font-weight: 600;
      text-decoration: none;
      font-family: 'Ubuntu';
    }

    .logo {
      width: 80px;
      height: 80px;
      margin-top: 6px;
    }

    .nav-item__primary {
      border-bottom: solid 4px rgba($white, 0);
    }
  }

  .home .nav,
  .buy .nav,
  .shipyard .nav {
    a {
      color: $white;
      font-size: 1.1em;
    }
  }

    .nav-item__primary:hover {
      > a {
        color: darken($brand-color, 10%);
      }
    }

    .home .home-active,
    .buy .buy-active,
    .engine .engine-active,
    .shipyard .shipyard-active {
      > a {
        color: darken($brand-color, 10%);
      }
    }

    .nav__sublist {
      width: 130px;
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translate(-50%);
      cursor: pointer;
    }

      .nav-item__secondary {
        margin-bottom: 1px;
        background-color: rgba($white, .6);

        > a {
          color: darken($brand-color, 10%) !important;
          font-size: 15px !important;
        }
      }

  .nav--desktop {
    @media(min-width: $screen-sm-min) {
      display: block;
    }
  }

  .nav--mobile {
    display: none;

    @media(max-width: $screen-sm-min) {
      display: block;

      .nav-mobile {
        height: 0;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 120px;
        left: 0px;

        background-color: rgba($white, .9);
      }

      .nav-mobile--active {
        height: 100vh;
      }

        .nav-mobile__item,
        .nav-mobile__item--border {
          display: block;
          border-bottom: 1px solid $brand-color;

          a {
            width: 100%;
            height: 20px;
            display: inline-block;
            margin: 15px 0;
            color: $brand-color;
          }
        }

        .nav-mobile__item--noborder {
          border-bottom: none;
        }
    }
  }

