/*----------------------------------------*\
  NAV
\*----------------------------------------*/

.header-master {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

  .nav {
    display: none;
    @extend .master;

    a {
      color: $white;
      font-weight: 600;
      text-decoration: none;
      font-family: 'Ubuntu';
    }

    .logo {
      width: 80px;
      height: 80px;
      margin-top: 6px;
    }

    .nav-item__primary:hover,
    .nav-item__primary.active {
      border-bottom: solid 4px darken($brand-color, 10%);

      > a {
        color: darken($brand-color, 10%);
      }
    }

  }

    .nav__sublist {
      width: 130px;
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translatex(-50%);
      cursor: pointer;
    }

      .nav-item__secondary {
        background-color: rgba($white, 0);
        border-bottom: solid 1px $brand-color;
      }

      .nav-item__secondary:hover {
        background-color: rgba($white, .2);
      }

  .nav--mobile {
    @media(max-width: $screen-sm-min) {
      display: block;
    }
  }

  .nav--desktop {
    @media(min-width: $screen-sm-min) {
      display: block;
    }
  }

