/*----------------------------------------*\
  NAV
\*----------------------------------------*/

.header-master {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

  .nav {
    display: none;
    @extend .master;

    .logo {
      width: 80px;
      height: 80px;
      margin-top: 6px;
    }

    li {
      display: inline-block;
      height: 96px;
    }

    // li:hover {
    //   background-color: darken($brand-color, 5%);
    // }

    // li.active {
    //   background-color: darken($brand-color, 20%);
    // }

    a {
      color: $white;
      font-weight: 500;
      text-decoration: none;
      font-family: 'ubuntu';
    }
  }

  .nav--mobile {
    @media(max-width: $screen-sm-min) {
      display: block;
    }
  }

  .nav--desktop {
    @media(min-width: $screen-sm-min) {
      display: block;
    }
  }

