/*----------------------------------------*\
  TILE
\*----------------------------------------*/

.tile {
  min-height: 400px;
  overflow: hidden;
  border-radius: 5px 5px;
  text-align: center;
  background-color: lighten($alt-color-lighter, 4%);
  color: $alt-color-darker;
}

  .tile__image-container {
    max-height: 150px;
    overflow: hidden;
  }

  .tile__image {
    width: 100%;
    max-height: 150px;
    transition: all 1s ease;
  }

  .tile__title {
    padding-bottom: $spacing-unit-small;
    border-bottom: 1px solid $alt-color-lighter;
  }

  .tile__text-content {
    padding: 0 $spacing-unit-small;
  }

.tile--onhover .tile__image {
  border-radius: 5px 5px 0px 0px;
  transform:scale(1.2);
}