{% assign t = site.data.translations[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P454L2Z');</script>

    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
    <meta property="og:url"           content="{{ page.url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ page.title }}" />
    <meta property="og:description"   content="{{ page.description }}" />
    <meta property="og:image"         content="{{page.url}}/assets/images/logo.png" />
  </head>
  <body class="{{ page.body-class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P454L2Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- Facebook SDK -->
    {% include facebook-sdk.html %}

    <!-- Icon SVG code -->
    {% include icon-svg.html %}

    <!-- Header nav -->
    <header class="header-master pdgt-">
      {% include nav.html %}
    </header>

    <!-- All herobanners depending path page -->
    {% if page.url == '/' %}
      {% include herobanner-home.html %}
    {% endif %}

    {% if page.url == '/boat.html' %}
      {% include herobanner-buy.html %}
    {% endif %}

    {% if page.url == '/results.html' %}
      {% include herobanner-buy.html %}
    {% endif %}

    {% if page.url == '/engine.html' %}
      {% include herobanner-engine.html %}
    {% endif %}

    {% if page.url == '/trailer.html' %}
      {% include herobanner-trailer.html %}
    {% endif %}

    {% if page.url == '/occasion.html' %}
      {% include herobanner-occasion.html %}
    {% endif %}

    {% if page.url == '/shipyard.html' %}
      {% include herobanner-shipyard.html %}
    {% endif %}

    {% if page.url == '/contact.html' %}
      {% include herobanner-map.html %}
    {% endif %}

    <!-- I'm the master -->
    <div class="master">
      {{ content }}
    </div>

    <!-- Footer -->
    <footer class="master-footer clearfix pdgv pdgh mrgt">
      <a href="https://www.facebook.com/Chantier-naval-Aquaboat-1485476155026703/" target="_blank">
        <svg class="icon-facebook pull-left">
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
      <p class="pull-right mrg0"><span class="text-bold">Aquaboat</span> © 2017 Copyright </p>
    </footer>

    <!-- Modals -->
    {% include modal-hivernage.html %}

    <!-- Scripts -->
    <script async defer
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkiIxUZ5WKW9S1breP_DVDl-keGbPIiKE">
    </script>

    <script type="text/javascript" src="{{ '/assets/javascripts/bundle.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
