{% assign t = site.data.translations[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ '/assets/javascripts/bundle.js' | prepend: site.baseurl }}"></script>
  </head>
  <body>
    {% include icon-svg.html %}

    <header class="header-master pdgt-">
      {% include nav.html %}
    </header>

    {% if page.url == '/' %}
      {% include herobanner.html %}
    {% endif %}

    <div class="master">
      {{ content }}
    </div>

    <footer class="master-footer pdgv- pdgh mrgt">
      <p class="mrg0">© 2016 Copyright Aquaboat</p>
    </footer>
  </body>
</html>
