{% assign t = site.data.translations[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
    <meta property="og:url"           content="{{ page.url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ page.title }}" />
    <meta property="og:description"   content="{{ page.description }}" />
    <meta property="og:image"         content="{{page.url}}/assets/images/logo.png" />
  </head>
  <body class="{{ page.title }}">
    <!-- Facebook SDK -->
    {% include facebook-sdk.html %}

    <!-- Icon SVG code -->
    {% include icon-svg.html %}

    <!-- Header nav -->
    <header class="header-master pdgt-">
      {% include nav.html %}
    </header>

    <!-- All herobanners depending path page -->
    {% if page.url == '/' %}
      {% include herobanner-home.html %}
    {% endif %}

    {% if page.url == '/boat.html' %}
      {% include herobanner-buy.html %}
    {% endif %}

    {% if page.url == '/engine.html' %}
      {% include herobanner-buy.html %}
    {% endif %}

    {% if page.url == '/trailer.html' %}
      {% include herobanner-buy.html %}
    {% endif %}

    {% if page.url == '/shipyard.html' %}
      {% include herobanner-shipyard.html %}
    {% endif %}

    {% if page.url == '/contact.html' %}
      {% include herobanner-map.html %}
    {% endif %}

    <!-- I'm the master -->
    <div class="master">
      {{ content }}
    </div>

    <!-- Footer -->
    <footer class="master-footer pdgv- pdgh mrgt">
      <p class="mrg0">© 2016 Copyright Aquaboat</p>
    </footer>

    <!-- Scripts -->
    <script async defer
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkiIxUZ5WKW9S1breP_DVDl-keGbPIiKE">
    </script>

    <script type="text/javascript" src="{{ '/assets/javascripts/bundle.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
